

<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #841B2D;">
  <div class="container-fluid">
    <a class="navbar-brand fs-5 fst-italic" href="/">Parcialito 2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLight" aria-controls="navbarLight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarLight">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/children">Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/vaccines">Vaccines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/appointments">Appointments</a>
        </li>
      </ul>
    
      <div class="d-flex mx-2">
            <%= user_signed_in? ? 'Estas Logueado!' : null %>
            <% if user_signed_in? %>
            <div class='fs-4 '>
              <%= current_user.first_name%>
              </div>
            <%else%>
                <button type="button" class="btn btn-warning" href="users/sign_out"><%= link_to "Log in", new_session_path(resource_name) %><br /></button>
            <% end%> 
          </div>
    </div>
  </div>
</nav>